<div class="jumbotron text-center" style="margin-bottom:0">
<h1>Branches</h1>
</div>

<table id="branches" class="display">
  <thead>
    <tr>
      <th>Name</th>
  </tr>
</thead>
<tbody>
  <% @branches.each do |branch| %>
    <% if branch.status %>
      <tr>
        <td><%= link_to branch.name, branch_path(branch) %></td>
        <td><%= button_to 'Edit', edit_branch_path(branch), method: 'get'%></td>
      </tr>
    <% end %>
  <% end %>
  <tbody>
</table>

<%= link_to "Add a New Branch", new_branch_path %>