
<% if logged_in? %>
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome, <%= current_admin.user %>!</h1> 
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Main</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="employees#show">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="branches#show">Branches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reports#show">Reports</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link", <%= link_to "Log out",:controller=> "sessions", :action=> "destroy"%></a> 
          
        </li>    
      </ul>
    </div>  
  </nav>
<%end%>


<!-- Full Page Intro -->
<div class="view img-fluid welcome_img" style="background-image: url('https://bit.ly/34XuUBR'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-gradient align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
          <h1 class="h1-responsive font-weight-bold mt-sm-5">Make purchases with our app </h1>
          <hr class="hr-light">
          <h6 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
          dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
          iste.</h6>
          <% if logged_in? == false %>
          <a class="btn btn-info" href="/login">Log In</a>
          <%end%>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
   





 
>>>>>>> c709dac... Main page admin view
