<div class="jumbotron text-center" style="margin-bottom:0">
<h1>Employees</h1>
</div>


<table id="employees" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
  </tr>
</thead>
<tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to employee.name, employee_path(employee) %></td>
      <td><%= employee.status %></td>
      <td><%= button_to 'Edit', edit_employee_path(employee), method: 'get'%></td>
    </tr>
  <% end %>
  <tbody>
</table>

<%= link_to "Add a New Employee", new_employee_path %>

