<h3>Check Log</h3>
<% @reports.each do |report| %>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item"><%= report.employee_id %></li>
    <li class="list-group-item"><%= report.check %></li>
    <li class="list-group-item"><%= report.created_at.strftime("%m/%d/%Y at %I:%M %p") %></li>
  </ul>
<% end %>