<h3>Attendance by day</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <h4>Select a day</h4>
      <% @dates.each do |date| %>
        <a class="btn btn-primary">
          <%= date.strftime("%m-%d-%Y") %>
        </a>
      <% end %>
    </div>
    <div class="col-5">
      <h4>Log of the day</h4>
    </div>
  </div>
</div>