<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Reports</h1>
</div>

<div class="container mt-5">
  <%# <button type="button" class="btn btn-primary">New Check</button> %>
  <div class="row">
    <div class="col">
      <%= render 'log', reports: @reports %>
    </div>
    <div class="col-4">
      <%= link_to "Employee Registration", new_report_path, :class => "btn btn-primary w-100"%>
      <h4 class="mt-5">Specialized Reports</h4>
      <%= link_to  "Attendance by day", attendance_path, :class => "btn btn-secondary" %>
    </div>
  </div>
</div>
